body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
    /* NAVBAR */
#navbarSupportedContent form{
    width: 100%;
}
.icons-tr{
    width: 8%;
    color: rgb(91, 88, 88);
}
.icons-tr div i:last-child{
    color: orange;
}
.my-navbar div #navbarSupportedContent form input{
    background-color: rgb(229, 229, 229);
}
.my-searchbar{
    padding: .5rem 0;
    background-color: rgb(248, 249, 250);
}
.my-navbar{
    height: 2.4rem;
}
.my-logosm{
    width: 53px;
}

/* MAIN */
    /* SIDEBAR */
.my-sidebar{
    background-image: url(./img/sidebar-bg.png);
    height: 50rem;
    background-color: rgb(5, 30, 52);
    min-width: 3rem;
    max-width: 8rem;
}
.my-sidebar .nav-item {
    width: 100%;
}
.my-list{
    padding-top: 1rem;
}
.my-list li{
    font-size: .9rem;
}
.my-sidebar .container-fluid .col-12 ul 

    /* NEXT CLASSES */
.next-classes{
    background-color: red;
    height: 300px;
}
.my-list li i{
    font-size: 1.1rem;
}




/* MEDIA QUERIES */
    /* SM */


    /* MD */
@media screen and (min-width: 768px) {
    .icons-tr{
        width: 8%;
    }
}

    /* LG */
@media screen and (min-width: 992px) {

}