body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
    /* NAVBAR */
#navbarSupportedContent form{
    width: 100%;
}
.icons-tr{
    width: 8%;
    color: rgb(91, 88, 88);
}
.icons-tr div i:last-child{
    color: orange;
}
.my-navbar div #navbarSupportedContent form input{
    background-color: rgb(229, 229, 229);
}
.my-searchbar{
    padding: .5rem 0;
    background-color: rgb(248, 249, 250);
}
.my-navbar{
    height: 2.4rem;
}
.my-logosm{
    width: 53px;
}

/* MAIN */
    /* SIDEBAR */
.my-sidebar{
    background-image: url(./img/sidebar-bg.png);
    height: 56.3rem;
    background-color: rgb(5, 6, 52);
    min-width: 3rem;
    max-width: 8rem;
}
.my-sidebar .nav-item {
    width: 100%;
}
.my-list{
    padding-top: 1rem;
}
.my-list li{
    font-size: .9rem;
}
.side-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-list ul:last-child i{
    font-size: 1rem;
}
.my-list li i{
    font-size: 1.1rem;
}
.custom-height{
    height: 100%;
}
/* TOP-BAR */
.custom-top_bar{
    background-color: rgb(27, 114, 232);
    color: white;
}
.custom-top_bar button{
    background-color: rgb(21, 83, 171);
    height: 1.5rem;
    border: none;
    border-radius: .5rem;
    font-size: .89em;
    color: white;
    text-align: center;
}

    /* JUMBOTRON */
.jumbotron{
    background-color: black;
}

    /* NEXT CLASSES */
.custom-list_group{
    padding: 1rem;
}




/* CUSTOM TRY */
.custom-try{
    border: 2px solid yellow;
}

/* MEDIA QUERIES */
    /* SM */
@media screen and (max-width: 576px) {
    .custom-top_bar{
        display: flex;
        flex-direction: column;
    }
}

    /* MD */
@media screen and (min-width: 768px) {
    .icons-tr{
        width: 8%;
    }
}

    /* LG */
@media screen and (min-width: 992px) {
    .side-list ul:first-child li:first-child{
        padding-right: .25rem;
    }
    .side-list ul:first-child li:nth-child(2){
        padding-right: .5rem;
    }
}